<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} - [%logger{32}]
            -[%-5level] - %msg%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.mvp.hrs" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="debug">
        </Root>
    </Loggers>
</Configuration>